html {
    background: red;
    font-family: 'Times New Roman', Times, serif;
}

header h1, nav {
    display: none;
}

img {
    width: 50%;
}

main article {
    border: none;
}

aside h2 {
    display: none;
}

iframe {
    display: none;
}

a:after{
    content:" (" attr(href) ") ";
    font-size:0.8em;
    font-weight:normal;
}