html{
    background-image: url("bilder/bakgrunn.jpg")
}

body{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    font-family:sans-serif;
    border: solid 10px rgba(255, 255, 255, 0);
}

/*grid*/
header {grid-area: header;}
nav {grid-area: nav;}
.breadcrumb {grid-area: crumbs;}
main {grid-area: main;}
footer {grid-area: footer;}
aside {grid-area: aside;}

/* Hvis viewport er over 700 pc */
@media (min-width: 700px) {
    body{
        display: grid;
        grid-template-areas:
            'header aside'
            'nav aside'
            'crumbs aside'
            'main aside'
            'footer footer';
        grid-column-gap: 5%;
    }
}

@media (max-width: 500px) {
    nav {
        text-align: center;
        margin-right: 18px;
    }
    
    nav p a {
        width: 100%;
        display: block;
    }
}


/* Header */
h1{
    color:#07575B;
    font-size: 4em;
    font-family: 'EB Garamond', serif;
}

/* Meny*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 8px;
}

nav a{
    
    flex-grow: 1;
    background: #07575B;
    text-decoration: none;
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 3px;
}

nav a:nth-child(even){
    background: #C4DFE6;
    color: #07575B;
}
/* BreadCrumbs */
.breadcrumb {
    display: flex;
    justify-content: start;

}
.breadcrumb ul{
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.breadcrumb li::before {
    content: "→";
}

.breadcrumb a{
    background-color: rgba(255, 255, 255, 0);
    color: #07575B;
}



/* Hovedkolonne */
 main article{
    border-top: solid 10px #66A5AD;
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    
}

figure {
    padding-right: 0;
    margin-right: 0;
    width: 60%;
    min-width: 200px;
}

img{
    width: 100%;
    margin-top: 20px;
    border: solid 1px grey;
}

.utenBorder{
    border: none;
}

aside{
    background: #C4DFE6;
    width: 100%;
    min-width: 300px;
    padding-bottom: 20px;
}

aside h2 {
    color: #07575B;
    font-family: 'EB Garamond', serif;
    margin-left: 5%;
    margin-bottom: 2px;
}

aside iframe {
    width: 100%;
    border: none;
}

aside h2 {
    color: #07575B;
    font-family: 'EB Garamond', serif;
    margin-left: 5%;
    margin-bottom: 2px;
}

aside article a {
    text-decoration: none;
    color: #07575B;
    font-style: italic;
    font-size: 110%;
    margin-left: 10%;
    border-top: solid #07575B;
    border-bottom: solid #07575B;
    padding: 0.5%
}

aside article a:hover {
    border-left: solid #07575B;
    border-right: solid #07575B;
}

/* Footer */
footer {
    height: 250px;
    background-image: linear-gradient(#C4DFE6, white);
    background-size: cover;
    color: #07575B;
    display: flex;
    justify-content: space-evenly;
}
