#bildeMedTekst {
    position: relative;
    width: 300px;
}

#bilde {
    margin-left: auto;
    margin-right: auto;
}

#bildetekst {
    position: absolute;
    width: 100%;
    top: 70px;
    background-color: lightgray;
    text-align: center;
}